flask
flask-cors
gunicorn
python-dotenv

langchain==0.1.16
langchain-community
langchain-groq
langchain-google-genai
langchain-ollama
langchain-openai

google-generativeai
google-genai

requests
pandas
numpy
